body {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #E41021;
}

.fac-menu h2 {
    font-size: 24px;
    font-weight: 500;
    color: #e41021;
    border-bottom: 1px solid #e41021;
    padding: 15px 0;
}

.fac-menu {
    background-color: white;
    position: relative;
    margin-top: 151px
}

.fac-menu>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow-x: auto;
    padding: 25px 0;
    background-color: white;
    scrollbar-color: #e41021 #e5e5e5;
    scrollbar-width: thin;
}

.fac-menu>div::-webkit-scrollbar {
    width: 10px;
    height: 8px
}

.fac-menu>div::-webkit-scrollbar-track {
    background: #e5e5e5;
    border-radius: 100px
}

.fac-menu>div::-webkit-scrollbar-thumb {
    background: #e41021;
    border-radius: 100px
}

.fac-menu>div .box-banner:not(:last-child) {
    margin-right: 16px
}