body {
    font-family: roboto;
}
header {
    width: 100%;
    display: flex;
    flex-flow: column;
}
.pre-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e41021;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.logo--mobile {
    position: relative;
    z-index: 20;
    background: #fff;
    padding: 10px 15px;
    justify-content: center;

}

.pre-header p {
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
